body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f9f3e5;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #b23b14;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

h1{
    color: white;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    margin-bottom: 0;
}

nav{
    display: flex;
    gap: 80px;   
}

button{
    background-color: #b23b14;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease; 

}

button:hover{
    background-color: #d94f1b;
}
#content{
    height: 100%;
    width: 50%;
    overflow: hidden;
}
#content img{
    width: 100%;
    height: 100%;
}

/* Menu section start */

.dishSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.dishCard{
    background-color: rgba(255,255,255,0.95);
    padding: 20px;
    margin: 15px auto;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    backdrop-filter:blur(4px);
    
}
.dishCard h3{
    margin: 0 0 10px;
    font-size: 1.6rem;
    color: #b23b14;
    text-align: center;
}
.dishCard p{
    margin: 0;
    font-size: 1rem;
    color: #333;
    text-align: center;
    line-height: 1.5;
}
.dishCard:hover{
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
    transition: 0.2s ease;
}
/* Menu section ends */

.home-content{
    background-color: rgba(255,255,255,0.95);
    margin: 100px auto;
    padding: 30px 40px;
    border-radius: 14px;
    width: 90%;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    animation: fadeIn 0.6s ease;
}
.home-content h1{
    color: #b23b14;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.home-content p{
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
@keyframes fadeIn{
    from{opacity:0; transform:translateY(20px);}
    to{opacity: 1;transform: translateY(0);}

}